<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione repudiandae soluta perspiciatis dolores, ipsum reprehenderit odit! Delectus, voluptatibus animi quia, corrupti neque, ratione doloremque vel consequatur totam ea dolore dolores modi asperiores officia natus assumenda nesciunt iure fuga provident esse exercitationem voluptatum. Cumque voluptas autem cupiditate vel distinctio sint ipsa culpa minima pariatur atque recusandae architecto eius aspernatur,</p> 
<p>
accusamus at eligendi tenetur, saepe aliquid dolore nemo voluptate debitis animi. Iusto labore, exercitationem adipisci nostrum facilis architecto sed assumenda optio magnam libero ipsam voluptates dolores blanditiis quis nesciunt ea odit! Ducimus repellendus quas eius accusamus illum at est expedita sed distinctio ipsam incidunt, quis error esse maxime dignissimos molestiae aut, quisquam laborum nihil aperiam! Doloremque hic dolore veniam nisi! Inventore, sit. 
</p>


<!-- ini untuk mass create di php artisan tinker -->
Post::create([
    'title' => "Judul Ketiga",
    'slug' => "Ini-Judul-Ketiga",
    'excerpt' => "Lorem ipsum dolor",
    'body' => "<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione repudiandae soluta perspiciatis dolores, ipsum reprehenderit odit! Delectus, voluptatibus animi quia, corrupti neque, ratione doloremque vel consequatur totam ea dolore dolores modi asperiores officia natus assumenda nesciunt iure fuga provident esse exercitationem voluptatum. Cumque voluptas autem cupiditate vel distinctio sint ipsa culpa minima pariatur atque recusandae architecto eius aspernatur,</p> 
    <p>
    accusamus at eligendi tenetur, saepe aliquid dolore nemo voluptate debitis animi. Iusto labore, exercitationem adipisci nostrum facilis architecto sed assumenda optio magnam libero ipsam voluptates dolores blanditiis quis nesciunt ea odit! Ducimus repellendus quas eius accusamus illum at est expedita sed distinctio ipsam incidunt, quis error esse maxime dignissimos molestiae aut, quisquam laborum nihil aperiam! Doloremque hic dolore veniam nisi! Inventore, sit.</p>"])